{% extends "home/base.html" %}

{% load bootstrap4 %}


{% block is_authenticated %}
<a href="{% url 'new_category' %}" class="btn btn-primary mt-3">Add New category</a>
<table class="table " style="border: 1px solid;">
    <thead class="thead-dark ">
        <tr>
            <th>category</th>
            <th>Create_dt</th>
            <th>action</th>
        </tr>
    </thead>

    <tr>
        {% for cat in category %}

        <td> {{ cat.name }} </td>
        <td> {{cat.Create_db}}</td>
        <td><a href="{% url 'delete_category' cat.id  %}" class="btn btn-danger">Delete</a></td>

    </tr>
    {%endfor%}

</table>

{% endblock %}