<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new project</title>
</head>
<body>
    <form action="{% url 'newProject' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="">
                title
            </label>
            <input type="text" name="title" value="{{new_project.title}}">
            <p style="color: red;">{{new_project.errors.title}}</p>
        </div>
        <div>
            <label for="">
                details
            </label>
            <input type="text" name="details" value="{{new_project.details}}">
            <p style="color: red;">{{new_project.errors.details}}</p>
        </div>
        <div>
            <label for="">
                category
            </label>
            <select name="category" >
                {% for cat in category %}
                    <option value="{{cat.id}}" {% if cat.id == new_project.category.id %}
                            selected
                        {% endif %} >
                            {{cat.name}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="">
                total_target
            </label>
            <input type="number" name="total_target" value="{{new_project.total_target}}">
            <p style="color: red;">{{new_project.errors.total_target}}</p>
        </div>
        <div>
            <label for="">
                start_date
            </label>
            <input type="date" name="s_date" value="{{new_project.start_date}}">
        </div>
        <div>
            <label for="">
                end_date
            </label>
            <input  type="date" name="e_date" value="{{new_project.end_date}}">
            <p style="color: red;">{{new_project.errors.date}}</p>
        </div>
        <div>
            <label for="">images</label>
            <input required type="file" name="images" accept="image/*" multiple>
        </div>
        <div>
            <label for="">Tags</label>
            <input required type="text" name="tags">
        </div>
       
        <input type="submit" value="submit">
    </form>
    
</body>
</html>