{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-2">
    <h2>
        Projects
    </h2>
    <a class="btn btn-success mb-2 float-right" href="{% url 'newProject' %}"><svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg></a>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>title</th>
                <th>details</th>
                <th>category</th>
                <th>total target</th>
                <th>total donate</th>
                <th>Show</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{project.title}}</td>
                <td>{{project.details}}</td>
                <td>{{project.category.name}}</td>
                <td>{{project.total_target}}</td>
                <td>{{project.total_donate}}</td>

                <td>
                    <a href="{% url 'editProject' project.id %}">Edit</a>
                    <a href="{% url 'viewProject' project.id %}">Show</a>
                    <a href="{% url 'deleteProject' project.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}