{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col-6">
            <div class="card" >
                <div class="card-body">
                  <h3 class="card-title">Title | {{project.title}}</h3>
                  <p class="card-text">
                    Details | {{project.details}} <br>
                    category | {{category.name}} <br>
                    Total Targe | {{project.total_target}} <br>
                    Tags | {% for tag in tags %} {{tag.tag}} {% endfor %} <br>
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            
        </div>
        <div class="col-6 ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in images %}
                  <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0  %} active {%endif%}"></li>
                  {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.counter0 == 0  %} active {%endif%}">
                        <img src="/media/{{image.image}}" class="img-fluid"  alt="">
                    </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    


<table border="1">
    <thead>
        <tr>
            <th>title</th>
            <th>details</th>
            <th>category</th>
            <th>total target</th>
            <th>images</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{project.title}}</td>
            <td>{{project.details}}</td>
            <td>{{category.name}}</td>
            <td>{{project.total_target}}</td>



            <td>
                {% for image in images %}
                <img src="/media/{{image.image}}" width="50px" alt="">
                {% endfor %}
            </td>
            <td>
                {% for tag in tags %}
                <span>{{tag.tag}} | </span>

                {% endfor %}
            </td>
            <td>
                <a href="{% url 'create_report_project' project.id %}">Report</a>
            </td>
        </tr>
    </tbody>


</table>

<a href="{% url 'new_comment' project.id %}">add comment</a>

<table class="table" style="border: 1px solid;">
    <thead class="thead-dark">
        <tr>
            <th>created_By</th>
            <th>comment</th>
            <th>Create_dt</th>
            <th>Action</th>
        </tr>
    </thead>

    <tr>

        {% for comm in comments %}
        <td> {{userObject.first_name}} </td>
        <td> {{ comm.comment }} </td>
        <td> {{comm.Create_db}}</td>


        <td> <a href="{% url 'delete_comment' project.id  comm.id%}">Delete</a></td>
        <td><a href=" {% url 'edit_comment' project.id comm.id %}">Edit</a></td>
        <td><a href=" {% url 'create_report_comment' project.id comm.id %}">Report</a></td>

    </tr>
    {%endfor%}

</table>
</div>
{% endblock %}