{% extends "home/base.html" %}
{% block title %}Change PassWord{% endblock %}
{% load bootstrap4 %}

{% block is_authenticated %}


 
<div class="container">
    <h1 class="text-center logo my-4">
    
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card-header text-center">
            <h3 class="card-title row justify-content-center">User-Acknowledgement</h3>
          </div>
        <div class="card">
          <div class="card-body text-center">
            
          
			<p class="m-auto">Your password has been Updated.</p>

           
          </div>
          <div class="card-footer text-muted text-center">
            Back to <a href="{% url 'index' %}">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}