{% extends "home/base.html" %}

{% block title %}Profile{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="card text-center" style="margin-top: 50px;">
        <div class="card-header">
            welcome, {{request.user.first_name}} {{request.user.last_name}}
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">First Name : {{request.user.first_name}}</li>
                <li class="list-group-item">Last Name : {{request.user.last_name}}</li>
                <li class="list-group-item">Email : {{request.user.email}}</li>
                <li class="list-group-item">Phone: {{request.user.phone}}</li>
                <li class="list-group-item">Date Of Birth: {{request.user.date_birth}}</li>
                <li class="list-group-item">FaceBook Link: {{request.user.facebook_link}}</li>
                <li class="list-group-item">Country: {{request.user.country}}</li>
                <li class="list-group-item">Photo: <img src="{{request.user.photo.url}}" alt="" width="50px"
                        height="50px" /> </li>
            </ul>
        </div>
        <div class="card-footer text-muted">
            <a href="{%  url 'pusers:profile_update' %}" class="btn btn-primary">Update Your Account</a>
            <!--  -->
            



                        <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                Delete Your Account
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm with your password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                   <form method="post" action="{%  url 'pusers:delete_request' %}" >
                        <div class="modal-body">
                            <!--  -->
                            <!-- <input type="password" name="confirm_pass" placeholder="Enter Your Password here ..."> -->

                            
                                {% csrf_token %}
                                
                                            
                            <input id="confirm_pass" type="password" name="confirm_pass" id="form1"  placeholder="Confirm Password here ..."/>
                                       
                                    
    
                               
                        
                            <!--  -->
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <a href="" class="btn btn-danger"></a> -->
                        <button  id="searchTag_submit" type="submit" class="btn btn btn-danger">Confirm Delete</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
{% endblock content %}