{% extends "home/base.html" %}
{% load static %}
{% block head-css %}

{% endblock %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


<style>
    /* The alert message box */
    .alert {
        padding: 20px;
        background-color: #f44336;
        /* Red */
        color: white;
        margin-bottom: 15px;
    }

    /* The close button */
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }

    .slideCss {
        width: 100%;
        height: 380px;
    }

    .slide_show {
        width: 100%;
    }

    .latestproject {              
          
        margin-top: 2%;
    }

    .fproject {
        margin-top: 2%;
        width: 18%;
        margin-left: 2%;
    }

    .desc {
        max-lines: 1;
        line-height: 20px;
        max-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;

        margin-left: 35%;
        font-style: oblique;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #3a6073;
    }

    hr {
        width: 120px;
        margin-top: 10px;
        margin-left: 43%;
        background-color: #16222A;
    }

    .categs {
        width: 12%;
        height: 12%;
        margin: 3%;
    }

    .sliderTitle {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 50px;
        /*font-style: bold; */

    }

    .sliderDesc {
        font-family: initial;
        font-size: 25px;
        font-style: oblique;
        max-lines: 1;
        line-height: 30px;
        max-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;

    }



    .my_btn {
        background-color: inherit !important;
        border: 0 !important;

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}








{% block is_authenticated %}



    <div class=" row col-md-12 w-100 justify-content-center " >
       
            <div class=" p-3 col-md-7" style="left: 40%;">
                <form method="post" action="{% url 'searchName'  %}" >
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="form-outline " style="width: 50%;">
                                <input id="search_name" type="search" id="form1" name="search_name" class="form-control" placeholder="Search by Title or Tag"/>
                            </div>
                            <button id="searchTag_submit" type="submit" class="btn btn-outline-primary ml-2"">search</button>

                        </div>
                </form>
            </div>
       
    </div>















    
    

        

        

        
         


    


    


            <div class="row col-md-12 p-4">

                <div class="row col-md-3 ">
                    <div class="list-group col-md-12">
                        <button type="button" class="list-group-item list-group-item-action active">
                            Project Categories
                        </button>
                        <form class="rate-form" action="{% url 'index' %}" method="POST" id={{cat.id}}>
                            {% for cat in all_category %}
                            {% csrf_token %}
                            <button type="submit" class="my_btn list-group-item list-group-item-action" value={{cat.id}} id={{cat.id}}>{{ cat.name }}</button>
                            {%endfor%}
                        </form>
                      </div>
                </div>

        

           

           
            <!-- <h4>highest score projects</h4> -->

            <div class="row col-md-9">
                    <div id="carouselExampleIndicatorss" class="carousel slide" data-ride="carousel"  style="margin: auto;">
                        <ol class="carousel-indicators">
                        {% for imagerate in imagesrate%}
                        <li data-target="#carouselExampleIndicatorss" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0  %} active {%endif%}"></li>
                        {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for imagerate in imagesrate%}
                            <div class="carousel-item {% if forloop.counter0 == 0  %} active {%endif%}">
                                <img src="/media/{{imagerate.image}}" class="img-fluid"  alt="">

                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{imagerate.project.title}}</h5>
                                    <a class="btn btn-primary" href="{% url 'viewProject' imagerate.project.id %}">show details</a>
                            </div>
                            </div>
                        {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicatorss" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicatorss" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            

          




        </div>

        <!-- end -->

<!--cata-->
<!-- <div class=" row justify-content-center col-md-12" >
    <ul class="nav justify-content-center">
        <li class="nav-item">
            
            <form class="rate-form" action="{% url 'index' %}" method="POST" id={{cat.id}}>
                {% for cat in all_category %}
                {% csrf_token %}
                <button type="submit" class="my_btn" value={{cat.id}} id={{cat.id}}>{{ cat.name }}</button>
                {%endfor%}
            </form>
        </li>
    </ul>

        </div>
        <br> -->
        <br><br>
        <div class=" border border-light text-center">
            
            <div class="row col-md-12 justify-content-center" id="confirm-box">
               
            </div>
        </div>

        <br>

<!-- cata -->





<div class="row col-md-12 text-center justify-content-center">
    <h1 class="row col-md-6 justify-content-center">Latest Projects</h1>  <h1 class="row col-md-6 justify-content-center">Admin Selected</h1>
    <div class="row col-md-6 border-light text-center justify-content-center">
        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"  style="margin: auto;">
            <ol class="carousel-indicators">
                {% for image in images%}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.counter0 == 0  %} active {%endif%}"></li>
                {% endfor %}

            </ol>


            <div class="carousel-inner">
                {% for image in images %}
                <div class="carousel-item {% if forloop.counter0 == 0  %} active {%endif%}">
                    <img src="/media/{{image.image}}" class="img-fluid" alt="">

                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{image.project.title}}</h5>
                        <a class="btn btn-primary" href="{% url 'viewProject' image.project.id %}">show details</a>
                    </div>
                </div>
                {% endfor %}
            </div>



            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>




    <div class="row col-md-6 border-light text-center">
       
       
            <div id="carouselExampleIndicatorsss" class="carousel slide" data-ride="carousel"  style="margin: auto;">
                <ol class="carousel-indicators">
                {% for imgadmin in imagesadmin%}
                <li data-target="#carouselExampleIndicatorsss" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0  %} active {%endif%}"></li>
                {% endfor %}

                </ol>


                <div class="carousel-inner">
                    {% for imgadmin in imagesadmin%}
                    <div class="carousel-item {% if forloop.counter0 == 0  %} active {%endif%}">
                        <img src="/media/{{imgadmin.image}}" class="img-fluid"  alt="">

                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{imgadmin.project.title}}</h5>
                            <a class="btn btn-primary" href="{% url 'viewProject' imgadmin.project.id %}">show details</a>
                    </div>
                    </div>
                {% endfor %}
                </div>



                <a class="carousel-control-prev" href="#carouselExampleIndicatorsss" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicatorsss" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
    </div>
</div>

        


         
        


    <!---->


    


        
        








<!-- Scripts -->

<script>

    arr = document.getElementsByClassName("my_btn")
    const form = document.querySelector('.rate-form')
    const confirmBox = document.getElementById('confirm-box')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    for (var ad of arr)
        // console.log(ad);
        ad.addEventListener('click', (event) => {
            const val = event.target.id
            console.log(val);
            form.addEventListener('submit', e => {
                e.preventDefault()
                const id = e.target.id
                // console.log(id);
                // const val_num = getNumericValue(val)

                $.ajax({

                    type: 'POST',
                    url: `/`,
                    data: {

                        'csrfmiddlewaretoken': csrf[0].value,
                        // 'el_id': val,
                        'val': val

                    },
                    success: function (response) {

                        console.log(response);

                        // console.log(id);
                        list_project = JSON.parse(response.value)
                        console.log(list_project);
                        confirmBox.innerHTML = ''
                        for (project of list_project) {
                            console.log(project.image);
                            confirmBox.innerHTML += `
                            
                            <div class="card col-md-3 mr-4 mb-3" style="width: 18rem;height:18rem">
                            <img src="/media/${project.image}" class="card-img-top " style="width: 99%;margin: auto;height:50%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">${project.title}</h5>
                                <div class="card-text text-center"><span style="color:blue ">Total Target : </span> ${project.total_target} $</div>
                            </div>
                            <div class=" text-center mb-2">
                                    <a href= "/projects/view/${project.project_id}" class="btn btn-primary btn-block">View</a>

                            </div>
                            </div> `
                        }
                        if(confirmBox.innerHTML != ''){
                            confirmBox.innerHTML = '<h1 style="width: 100%">Category Result</h1>' + confirmBox.innerHTML
                        }
                    },
                    error: function (error) {
                        // console.log(id);
                        console.log(error);
                        confirmBox.innerHTML = '<h1>UPS.........something went wrong</h1>'
                    }
                })
            })
        })
</script>





{% endblock %}





   <!-- <br><br><br>
            <div class="container">
                <table class="table table-bordered text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>title</th>
                            <th>details</th>
                            <th>category</th>
                            <th>total target</th>
                            <th>actions</th>
                        </tr>
                    </thead>

                    {% for project in latest_projects %}

                    <tr>
                        <td>{{project.title}}</td>
                        <td>{{project.details}}</td>
                        <td>{{project.category.name}}</td>
                        <td>{{project.total_target}}</td>
                        <td>
                            <a href="{% url 'editProject' project.id %}">Edit</a>
                            <a href="{% url 'viewProject' project.id %}">View</a>
                            <a href="{% url 'deleteProject' project.id %}">Delete</a>
                            <a href="{% url 'create_report_project' project.id %}">Report</a>
                        </td>




                    </tr>

                    {%endfor%}

                </table>
            </div> -->
