{% extends "home/base.html" %}

{% load bootstrap4 %}


{% block is_authenticated %}
<!-- <a href="{% url 'new_category' %}" class="btn btn-primary">Add New category</a> -->
<br><br><br>
<div class="container">
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th>title</th>
                <th>details</th>
                <th>category</th>
                <th>total target</th>
                <th>actions</th>
            </tr>
        </thead>

        {% for project in my_projects %}

        <tr> 
            <td>{{project.title}}</td>
            <td>{{project.details}}</td>
            <td>{{project.category.name}}</td>
            <td>{{project.total_target}}</td>
            <td>
                <a href="{% url 'editProject' project.id %}">Edit</a>
                <a href="{% url 'viewProject' project.id %}">View</a>
                <a href="{% url 'deleteProject' project.id %}">Delete</a>
                <a href="{% url 'create_report_project' project.id %}">Report</a>
            </td>



            <!-- <td>
                {% for image in images %}
                <img src="/media/{{image.image}}" width="50px" alt="">
                {% endfor %}
            </td> -->
            <!-- <td>
                {% for tag in tags %}
                <span>{{tag.tag}} | </span>

                {% endfor %}
            </td> -->
            <!-- <td>
               
            </td> -->
        </tr>

        {%endfor%}

    </table>
</div>
{% endblock %}


