div.carousel::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
}

.checked {
    color: orange;
  }

.my_btn {
    background-color: transparent !important;
    border: none !important;
    outline: none;

}